<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.UserDAO">

	<!-- <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		insert into user(name,password) values (#{name} ,#{password})
	</insert> -->
	<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		insert into tb_user(name,password,birthday,othertitle,email,role) values (#{name} ,#{password},#{birthday},#{othertitle},#{email},#{role})
	</insert>
	
	<delete id="deleteUser" parameterType="int">
		delete from tb_user where id=#{id};
	</delete>
	<!-- <update id="updateUser" parameterType="com.demo.model.User">
		update tb_user set name=#{name}, password=#{password},birthday=#{birthday},othertitle=#{othertitle},email=#{email},role=#{role} where id=#{id}
	</update> -->
	
	<update id="updateUser" parameterType="User">
		update tb_user set name=#{name}, password=#{password},birthday=#{birthday},othertitle=#{othertitle},email=#{email},role=#{role} where id=#{id}
	</update>
			
	<select id="findById" parameterType="int" resultType="com.demo.model.User">
		select * from tb_user where id=#{id}
	</select>
	<select id="findAllUser" resultType="com.demo.model.User">
		select * from tb_user
	</select>
			
	<select id="findByNameAndPassword" resultType="com.demo.model.User">
		select * from tb_user where name=#{0} and password=#{1}
	</select>
	
	<select id="findByNameAndPassword2" resultType="com.demo.model.User">
		select * from tb_user where name=#{name} and password=#{password}
	</select>
	
	<select id="findByName" parameterType="String" resultType="com.demo.model.User">
		select * from tb_user where name=#{name}
	</select>
</mapper>